@import './variables';

.container {
    &-medium {
        max-width: 1300px;
        width: 95%;
        margin: 0 auto;
    }

    &-big {
        max-width: 1800px;
        width: 95%;
        margin: 0 auto;
    }
}

.full-height {
    min-height: 100vh;
}

.bg {
    &-linear {
        background-image: linear-gradient($purple, $purple-dark);
    }
    &-white {
        background-color: $white;
    }
    &-light-gray {
background-color: $light-gray;
    }
}

.box-shadow {
    box-shadow: $box-shadow;
}