.justify {
    &-start {
        justify-content: start;
    }
    &-center {
        justify-content: center;
    }
    &-end {
        justify-content: flex-end;
    }
    &-between {
        justify-content: space-between;
    }
    &-around {
        justify-content: space-around;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
    &-start {
        align-items:flex-start
    }
    &-end {
        align-items: flex-end;
    }
}

.column {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 600px) {
    .phone {
      
    }
}