$medium: 1200px;

$purple: #6C5CE7;
$purple-dark: #362e74;
$black: #333;
$white: #f7f7f7;
$danger: #ff3b0e;
$yellow: #EEAB02;
$light-gray: #ebebeb;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);